{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="350" height="170" border="1">#}
{#    <tr>#}
{#      <td colspan="6">Enter date#}
{#        <label>#}
{#        <input type="text" name="textfield" />#}
{#        <input name="Submit" type="submit" value="Search" />#}
{#        </label></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td width="41" height="80">Name of place </td>#}
{#      <td width="49">Latitude</td>#}
{#      <td width="60">Longitude</td>#}
{#      <td width="66">Descrption</td>#}
{#      <td width="29">Date</td>#}
{#      <td width="65">&nbsp;</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
{#      <td><p><a href="#">Edit</a></p>#}
{#      <p><a href="#">Delete</a></p></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="6"><p><a href="#"></a>#}
{#        <label>#}
{#        <div align="center">#}
{#          <input type="submit" name="Submit2" value="Add" />#}
{#        </div>#}
{#        </label>#}
{#      </p>        <p><a href="#"></a></p></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
