{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{#<body>#}
{% extends 'Admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/search_blind#about">
{#  <table width="294" height="191" border="1">#}
  <table class="table  table-dark table-stripped">
      <td><th  colspan="7" style="text-align: center;" ><span style=" font-size: 30px; text-decoration: underline;">MANAGE ACCIDENT PRONE AREAS</span><a href="/map#about" class="btn btn-info" style="float: right; margin-top: 10px;">Add+</a></th>
<tr>

    </tr>
    <tr>
      <td colspan="7">Enter Place


        <label>
        <input type="text" name="textfield"  class="styled-textfield" value="{{ request.POST.textfield }}" required />
        <input type="submit" name="Search" value="Search" class="btn btn-outline-primary" />
      </label></td>


    </tr>
    <tr>
         <td>No</td>
      <td >NAME</td>
      <td >LATITUDE</td>
      <td>LONGITUDE</td>
      <td >DATE</td>
        <td></td>

    </tr>
     {% for i in my_objects %}
    <tr>
      <td>{{ my_objects.start_index|add:forloop.counter0 }}</td>
      <td>{{ i.Name }}</td>
      <td>{{ i.Latitude }}</td>
      <td>&nbsp;{{ i.Longitude }}</td>
      <td>{{ i.Date }}</td>
      <td>
          <p><a href="editblind/{{ i.id }}#about" class="btn btn-success" style="width: 80%" title="Edit" ><i class="bi bi-pencil-square"></i></a></p>
        <p><a href="dltblind/{{ i.id }}#about"  button type="button" onclick="return confirm ('Are you sure to delete')"class="btn btn-danger" title="Delete"><i class="bi bi-trash3-fill"></i></a></p>


      </td>
    </tr>
      {% endfor %}
  <tr>
 <td colspan="7"><div class="pagination">
    <span class="step-links">
        {% if my_objects.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ my_objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ my_objects.number }} of {{ my_objects.paginator.num_pages }}.
        </span>

        {% if my_objects.has_next %}
            <a href="?page={{ my_objects.next_page_number }}">next</a>
            <a href="?page={{ my_objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div></td>
  </tr>


{#    <tr>#}
{#      <td colspan="6"><a href="/map#about" class="btn btn-outline-light">Add+</a></td>#}
{#    </tr>#}
  </table>
</form>
{% endblock %}
{#</body>#}
{#{% endblock %}#}
{#</html>#}
