{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
{% extends 'Admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="searchfeed">
  <table width="289" height="140" border="1" class="table  table-dark table-stripped">
      <th  colspan="9" style="text-align: center; font-size: 30px; text-decoration: underline;">VIEW FEEDBACK </th>

    <tr>
      <td colspan="7">Enter date
        <label>
        <input type="date" name="textfield"  value="{{ request.POST.textfield }}" required/>
        </label>
        <label>
        <input type="submit" name="Submit" value="Search" class="btn btn-outline-primary"  />
        </label></td>
    </tr>
    <tr>
        <td> No</td>
      <td>Username</td>
      <td>Feedback</td>
      <td>Date</td>
    </tr>
         {% for i in my_objects %}
    <tr>
        <td>{{ my_objects.start_index|add:forloop.counter0 }}</td>

      <td>{{ i.USER_ID.Firstname}}</td>
      <td>{{ i.Feedback }}</td>
      <td>{{ i.Date }}</td>

    </tr>
       {% endfor %}
   <tr>
 <td colspan="8"><div class="pagination">
    <span class="step-links">
        {% if my_objects.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ my_objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ my_objects.number }} of {{ my_objects.paginator.num_pages }}.
        </span>

        {% if my_objects.has_next %}
            <a href="?page={{ my_objects.next_page_number }}">next</a>
            <a href="?page={{ my_objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div></td>
  </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
